<h1>Comentarios</h1>
<% if @comments.nil? || @comments.count <= 0 %>
  <p class='text-danger'> No hay comentarios disponibles.</p>
<% else %>
  <% if current_user.admin %>
    <%= render 'admin' %>
  <% else %>
    <%= render 'user' %>
  <% end %>
<% end %>
<br>
<button class='btn btn-primary btn-sm' type='button' onclick="window.location.href='<%= new_comment_path %>'" > Nuevo </button>