<div class='col-md-6'>
	<h1>Bienvenido a post-T!</h1>
	<p align='justify'> Aún no tenemos nuestra pagina funcionando pero espera, pronto estaremos contigo. </p>
	<h4>¿Para quién va dirigida esta página?</h4>
	<p align='justify'> Esta página va dirigida principalmente a universitarios que desean tomar las mejores elecciones para crear sus horarios. </p>
	<h4>¿Qué puedes hacer aquí?</h4>
	<p align='justify'> En esta página podrás encontrar un espacio para buscar a tus maestros y comentar de forma respetuosa acerca de ellos. </p>
	<h4>¿Los profesores pueden ver esto?</h4>
	<p align='justify'> La idea es que no puedan, próximamente a la página sólo se podrá crear una cuenta cuando se te envie una invitacion por medio de correo electrónico que permita crear el usuario. </p>
</div>
<div class='col-md-4'>
	<%= image_tag '/pira01.png' %>
</div>