<div class='col-md-6'>
	<% flash.each do |name, msg| %>
  		<%= content_tag :div, msg, :id => "flash_#{msg}", class: 'alert alert-dismissable alert-success'%>
	<% end %>
	<h1>Bienvenido a post-T  =D</h1>
	<br>
	<br>
	<h4>¿Para quién va dirigida esta página?</h4>
	<p align='justify'> Esta página va dirigida principalmente a universitarios que desean tomar las mejores elecciones para crear sus horarios. </p>
	<h4>¿Qué puedes hacer aquí?</h4>
	<p align='justify'> En esta página podrás encontrar un espacio para buscar a tus maestros y comentar de forma respetuosa acerca de ellos. </p>
	<h4>¿Los profesores pueden ver esto?</h4>
	<p align='justify'> La idea es que no puedan, próximamente a la página sólo se podrá crear una cuenta cuando se te envie una invitacion por medio de correo electrónico que permita crear el usuario. </p>
</div>
<div class='col-md-4'>
	<%= image_tag '/pira01.png' %>
</div>