<%= form_for(@rol) do |f| %>
	
	<%= render 'layouts/error_messages', object: @rol %>

	<div class='field'>
		<%= f.label :name, 'Nombre' %><br>
		<%= f.text_field :name, class: 'form-control' %>
	</div>
	<br>
	<button type='submit' class='btn btn-primary btn-sm'> Guardar </button>
<% end %>
