<h1>Profesores</h1> 
<% if @teachers.count <= 0 %> 
  <p class='text-danger'>No hay profesores disponibles.</p><br>
<% else %>
<% if current_user.admin %>
    <%= render 'admin', object: @teachers %>
    <br>
    <button class='btn btn-primary btn-sm' type='button' onclick="window.location.href='<%= new_teacher_path %>'" > Nuevo </button>
  <% else %>
    <%= render 'user' %>
  <% end %>
<% end %>
