<%= form_for(@school) do |f|%>
  
  <%= render 'layouts/error_messages', object: @school %>

  <div class='field'>
    <%= f.label :name, 'Nombre' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <br>
  <button type='submit' class='btn btn-primary btn-sm'> Guardar </button>
<% end %>
