<div class='col-md-6'>
	<h1>Bienvenido a post-T!</h1>
	<br>
	<br>
	<h4>¿Cómo puedo registrarme?</h4>
	<p align='justify'> Para poder tener una cuenta con nosotros debe llegarte una invitación para poder acceder. </p>
</div>
<div class='col-md-4'>
	<%= image_tag '/pira01.png' %>
</div>